* {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.container {
  width: 100%;
}
h1 {
  background-color: #ab4e68;
  font-size: 4rem;
  color: white;
  height: 5rem;
  line-height: 5rem;
}

.choics {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 1.5rem;
  align-items: center;
}
.choic {
  width: 165px;
  height: 165px;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choic:hover {
  cursor: pointer;
  background-color: black;
}
img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 500px;
}
.score-bord {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: 4rem;
  margin-top: 2rem;
}

#user-score #com-score #draw-socore #played {
  font-size: 8rem;
}

.mess-container {
  margin-top: 5rem;
}
#mess {
  font-size: 2rem;

  background-color: #533745;
  display: inline;

  height: 20vh;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  border-color: black;
  border: solid;
}
.reset {
  margin-top: 4rem;
  width: 10rem;
  height: 2.5rem;
  border-radius: 40px;
  background-color: #ab4e68;
  color: white;
  font-size: 1rem;
  display: inline;

  justify-content: center;
  justify-items: center;
}
@media screen and (max-width: 700px) {
  h1 {
    font-size: 2rem;
  }
  .choics {
    flex-wrap: wrap;
  }
  .choic {
    width: 90px;
    height: 90px;
  }
  .score-bord {
    flex-wrap: wrap;
    font-size: 3rem;
  }
  .mess-container {
    margin-top: 2rem;
  }
  #mess {
    font-size: 1rem;
  }
  .reset {
    margin-top: 2rem;
  }
}
